@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration-line: underline;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

header {
  height: 12.7vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
  color: whitesmoke;
  z-index: 1000;
  /* border-style: solid; */
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  font-size: 0.85em;
}

main {
  color: whitesmoke;
}

.home {
  height: 100vh;
  background-image: url(./images/galaxy-5803c9f1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.tickets {
  height: 100vh;
  background-image: url(./images/landscape-2ee9445b.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.pricing {
  height: 100vh;
  background-image: url(./images/eclipse-11d9479c.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

footer {
  background-color: black;
  text-align: center;
  color: #555;
  padding: 40px;
}
